# Arquivos temporários
*.vcd
*.vst
*.vsw
*.vhi
*.vho
*.sym
*.vbe
*.vstf
*.vstfmap
*.vstfmap_report.txt
*.vstmap
*.vstmap_report.txt
*_xmsgs
*_xdb
*_lock
*.log
*.jou
*.dcp
*.str
*.rpt
*.xmsgs
*.vdb
*.pb
*.html

# Diretórios de síntese
Sinalizador/output_files/
Sinalizador/db/
Sinalizador/simulation/modelsim
Datapath/output_files/
Datapath/db/
Datapath/simulation/modelsim
# Arquivos de compilação e síntese
*.cdb
*.hdb
*.qsf
*.qws
*.rpt
*.dbs
*.psm
*.dat
*.bak
*.ngc
*.bit
*.bgn
*.dly
*.bit
*.jed
*.mcs
*.mrp
*.pcf
*.rba
*.rbd
*.rbt
*.syr
*.twr
*.xise
*.xml
*.xln
*.xwbt
*.gise
*.prj
*.log
